/Hardware/Comunicação Bluetooth/RXTX Java/Java read arduino sensors/JavaReadArduinoSensors/nbproject/private/
/Hardware/Comunicação Bluetooth/RXTX Java/Java read arduino sensors/JavaReadArduinoSensors/build/
/Hardware/Comunicação Bluetooth/RXTX Java/Java read arduino sensors/Supervi/nbproject/private/
/Hardware/Comunicação Bluetooth/RXTX Java/Java read arduino sensors/Supervisorio/nbproject/private/